<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    beStrictAboutChangesToGlobalState="true"
    beStrictAboutOutputDuringTests="true"
    verbose="true"
>
    <testsuite name="PhlyBlog Test Suite">
        <directory>./test/PhlyBlog</directory>
    </testsuite>

    <coverage>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </coverage>

    <logging>
        <testdoxText outputFile="./test/log/testdox.txt"/>
    </logging>
</phpunit>
